/* FOOTER */

.footer {
    background: #f8fafc;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #e2e8f0;
}

.dark .footer {
    background: #020617;
    border-top: 1px solid #1e293b;
}


/* CONTAINER */

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* LOGO */

.footer-left h3 {
    font-weight: bold;
    font-size: 20px;
    background: linear-gradient(
        90deg,
        #6366f1,
        #0ea5e9
    );
    -webkit-background-clip: text;
    color: transparent;
}


/* LINKS */

.footer-right a {
    margin-left: 20px;
    color: #0ea5e9;
    text-decoration: none;
    transition: 0.3s;
}

.dark .footer-right a {
    color: #22d3ee;
}

.footer-right a:hover {
    color: #1e293b;
}

.dark .footer-right a:hover {
    color: white;
}


/* COPYRIGHT */

.footer-bottom {
    text-align: center;
    margin-top: 15px;
    color: #475569;
    font-size: 14px;
}

.dark .footer-bottom {
    color: #94a3b8;
}