/* ============================= */
/* SECTION BACKGROUND */
/* ============================= */

.contact-section {
    background: linear-gradient(
        to bottom,
        #f1ecec,
        #f1f5f9
    );
}

.dark .contact-section {
    background: linear-gradient(
        to bottom,
        #020617,
        #0f172a
    );
}


/* ============================= */
/* TITLE */
/* ============================= */

.contact-title {
    background: linear-gradient(
        90deg,
        #818cf8,
        #22d3ee
    );
    -webkit-background-clip: text;
    color: transparent;
}


/* ============================= */
/* CARDS */
/* ============================= */

.contact-info,
.contact-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.dark .contact-info,
.dark .contact-form {
    background: rgba(30, 41, 59, 0.6);
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}


/* ============================= */
/* TEXT */
/* ============================= */

.contact-subtitle {
    font-size: 20px;
    color: #22d3ee;
    margin-bottom: 10px;
}

.contact-text {
    color: #334155;
    margin-bottom: 20px;
}

.dark .contact-text {
    color: #cbd5e1;
}

.contact-details p {
    margin-bottom: 15px;
    color: #475569;
}

.dark .contact-details p {
    color: #e2e8f0;
}


/* ============================= */
/* INPUT */
/* ============================= */

.contact-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #e2e8f0;
    background: #f8fafc;
    color: #1e293b;
    transition: 0.3s;
}

.contact-input:focus {
    outline: none;
    border-color: #22d3ee;
}

.dark .contact-input {
    background: #020617;
    border: 1px solid #334155;
    color: white;
}


/* ============================= */
/* BUTTON */
/* ============================= */

.contact-button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(
        90deg,
        #6366f1,
        #22d3ee
    );
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.contact-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}