

.experience-section {
    background: linear-gradient(
        to bottom,
        #f1ecec,
        #f1f5f9
    );
}

.dark .experience-section {
    background: linear-gradient(
        to bottom,
        #020617,
        #0f172a
    );
}

.experience-title {

    background: linear-gradient(
        90deg,
        #818cf8,
        #22d3ee
    );

    -webkit-background-clip: text;
    color: transparent;

}


/* Timeline */

.timeline {

    position: relative;
    margin-left: 20px;

}


.timeline::before {

    content: "";

    position: absolute;
    left: 10px;
    top: 0;
    width: 2px;
    height: 100%;

    background: linear-gradient(
        to bottom,
        #6366f1,
        #22d3ee
    );

}


/* Item */

.timeline-item {

    position: relative;
    margin-bottom: 40px;
    padding-left: 40px;

}


.timeline-dot {

    position: absolute;
    left: 0;
    top: 10px;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    background: linear-gradient(
        90deg,
        #6366f1,
        #22d3ee
    );

}


/* Card */

.experience-card {

    

    padding: 20px;

    border-radius: 12px;

    transition: 0.3s;

}


.experience-card:hover {

    transform: translateY(-5px);

    box-shadow: 0 10px 30px rgba(0,0,0,0.5);

}


.experience-role {

    font-size: 20px;
    font-weight: bold;

    color: #22d3ee;

}


.dark .experience-company {

    font-size: 16px;
    margin-top: 4px;

    color: #cbd5e1;

}


.experience-date {

    display: block;
    margin-top: 6px;
    margin-bottom: 10px;

    font-size: 14px;

    color: #94a3b8;

}
.dark .experience-date {

    display: block;
    margin-top: 6px;
    margin-bottom: 10px;

    font-size: 14px;

    color: #94a3b8;

}

.dark .experience-description {

    color: #e2e8f0;

    line-height: 1.6;

}