/* TITLE */
.formation-section {
    background: linear-gradient(
        to bottom,
        #ffffff,
        #f1f5f9
    );
}

.dark .formation-section {
    background: linear-gradient(
        to bottom,
        #020617,
        #0f172a
    );
}


.formation-title {
    background: linear-gradient(90deg, #818cf8, #22d3ee);
    -webkit-background-clip: text;
    color: transparent;
}

/* Timeline */

.formation-timeline {
    position: relative;
    margin-left: 20px;
}

.formation-timeline::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #22d3ee, #6366f1);
}

/* Item */

.formation-item {
    position: relative;
    margin-bottom: 40px;
    padding-left: 40px;
}

.formation-dot {
    position: absolute;
    left: 0;
    top: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(90deg, #22d3ee, #6366f1);
}

/* Card */

.formation-card {
    padding: 22px;
    border-radius: 14px;
    transition: 0.3s;
    background: #ffffff;
}

.dark .formation-card {
    background: rgba(30, 41, 59, 0.6);
}

.formation-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

/* Text */

.formation-school {
    font-size: 20px;
    font-weight: bold;
    color: #22d3ee;
}

.formation-diploma {
    font-size: 16px;
    margin-top: 4px;
    color: #475569;
}

.dark .formation-diploma {
    color: #cbd5e1;
}

.formation-date {
    display: block;
    margin-top: 6px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #64748b;
}

.dark .formation-date {
    color: #94a3b8;
}

.formation-description {
    line-height: 1.6;
    color: #334155;
}

.dark .formation-description {
    color: #e2e8f0;
}