.hero-section {

    min-height: 80vh;

    display: flex;

    align-items: center;

}


/* Container */

.hero-container {

    width: 100%;

}


/* Texte */

.hero-title {

    animation: fadeIn 1s ease-in-out;

    background: linear-gradient(
        90deg,
        #818cf8,
        #22d3ee
    );

    -webkit-background-clip: text;

    color: transparent;

}


.hero-subtitle {

    color: #cbd5e1;

}


/* Bouton */

.hero-button {

    display: inline-block;

    background: linear-gradient(
        90deg,
        #6366f1,
        #22d3ee
    );

    padding: 12px 30px;

    border-radius: 999px;

    font-weight: bold;

    transition: 0.3s;

}


.hero-button:hover {

    transform: translateY(-3px);

    box-shadow: 0 10px 20px rgba(0,0,0,0.4);

}


/* Image */

.hero-image-container {

    width: 280px;

    height: 280px;

    border-radius: 50%;

    padding: 5px;

    background: linear-gradient(
        90deg,
        #6366f1,
        #22d3ee
    );

}


.hero-image {

    width: 100%;

    height: 100%;

    object-fit: cover;

    border-radius: 50%;

    border: 4px solid #020617;

}


/* Animation */

@keyframes fadeIn {

    from {

        opacity: 0;

        transform: translateY(20px);

    }

    to {

        opacity: 1;

        transform: translateY(0);

    }

}


/* Responsive */

@media (max-width: 768px) {

    .hero-container {

        text-align: center;

    }

}