.profil-section {
  text-align: center;
  background: linear-gradient(
      to bottom,
      #f1ecec,
      #f1f5f9
  );
}
.profil-section p {
  text-align: left;
}
.dark .profil-section {
  background: linear-gradient(
      to bottom,
      #020617,
      #0f172a
  );
}


  

  
  .profil-text {
    color: #cbd5e1;
    
    line-height: 1.8;
  }
  
  .profil-card {
    background: rgba(30, 41, 59, 0.6);
    padding: 24px;
    border-radius: 12px;
  }
  
  .profil-subtitle {
    color: #22d3ee;
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  .profil-link a {
    transition: 0.3s;
  }
  
  .profil-link a:hover {
    color: #22d3ee;
  }
  .profil-section {
  background: linear-gradient(to bottom, #f1ecec, #f1f5f9);
}

.dark .profil-section {
  background: linear-gradient(to bottom, #020617, #0f172a);
}

.profil-title {
  background: linear-gradient(90deg, #818cf8, #22d3ee);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block; /* pour que le dégradé ne prenne que la largeur du texte */
}